extends layout

block content
  .bodyWrapper
    .tc-white-1(flex-container='row')
      div(flex-item='4', flex-item-order='1')
        .aboutMe(class='p+')
          img.hs(src='/images/headshotc.png')
      div(flex-item='4', flex-item-order='1')
        .aboutMe(class='p+')
          p Ipsum Bacon text block
      div(flex-item='4', flex-item-order='2')
        .content(class='p+')
          img(src='/images/lendyi1.png')
    .tc-white-1(flex-container='row')
      div(flex-item='4', flex-item-order='1')
        .content(class='p+')
          img(src='/images/rmi1.png')
      div(flex-item='4', flex-item-order='2')
        .content(class='p+')
          img(src='/images/ski1.png')
      div(flex-item='4', flex-item-order='2')
        .content(class='p+')
          img(src='/images/tsi1.png')
